/* basics */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg g rect {
  /* fill:"#"; */
  fill: #61dafb;
}

/* layout */
.App {
  display: grid;
  grid-template-columns: auto 25%;
  grid-template-rows: 70px 0px auto;
}

.header-area {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.data-picker-area {
  grid-column: 2;
  grid-row: 3;
  /* background-color: rgb(235, 53, 189); */
}

.chart-area {
  grid-column: 1;
  grid-row: 3;
  background-color: lavender;
}

/* .format-area {
  grid-column: 2;
  grid-row: 3;
  background-color: honeydew;
} */

/* text and margins */
/* .data-picker-area input {
  margin: 0px 15px 15px 5px;
} */

th {
  text-transform: capitalize;
}
th, td {
  padding: 0.5em 2.5em 0 0rem;
  text-align: left;
}

td.num {
  text-align: center;
}

h1 {
  text-align: left;
  margin-left: 1rem;
}

.chart-area {
  padding: 1rem;
}
.data-picker-area {
  padding: 0rem 1rem 1rem 1rem;
}

.data-picker-area h2 {
  color: rgb(44, 44, 44);
}

.form-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 0rem 1rem 0rem;
}

.form-element label {
margin-left: 0.2rem;
}

.chart-area p {
  text-align: center;
  vertical-align: middle;
}
