body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg g rect {
  /* fill:"#"; */
  fill: #61DAFB;
}

.App {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: 70px 120px auto;
}

.header-area {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.data-picker-area {
  grid-column: 1 / span 2;
  grid-row: 2;
  background-color: ghostwhite;
}

.chart-area {
  grid-column: 1 ;
  grid-row: 3;
background-color: lavender;
}

.format-area{
  grid-column: 2 ;
  grid-row: 3;
  background-color: honeydew;
}

